@-ms-viewport{
  width: device-width;
}

#landing-grid {
	text-align: center;
}
/* Logo */
#logo{
	margin: 1em;
    height: auto;
    position: relative;
}


/* Grid Components */
.ch-item {
	position: relative;
	cursor: default;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}


.my-ch-item {
	width: 100%;
	height: 100%;  
}

/* Grid Images */
.ch-img-1 { 
	background-image: url(/img/month1.jpg);
	background-size: cover;
}

.ch-img-2 { 
	background-image: url(/img/month2.jpg);
	background-size: cover;
    
}

.ch-img-3 { 
	background-image: url(/img/month3.jpg);
	background-size: cover;
}

.ch-img-4{
    background-image: url(/img/month4.jpg);
    background-size: cover;
}

.ch-img-5{
    background-image: url(/img/month5.jpg);
    background-size: cover;
}

.ch-img-6{
    background-image: url(/img/month6.jpg);
    background-size: cover;
}

.ch-img-7{
    background-image: url(/img/month7.jpg);
    background-size: cover;
}

.ch-img-8{
    background-image: url(/img/month8.jpg);
    background-size: cover;
}

.ch-img-9{
    background-image: url(/img/month9.jpg);
    background-size: cover;
}

/* Grid Layout */
.main{
    margin: 0 auto;
}

.ch-grid {
	margin: 0px 0, 0, 0;
	list-style: none;
	display: inline-block;
	text-align: center;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
    text-align: center
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	display:inline-block;
    float: left;
}
@media only screen and (max-width : 420px){
	#logo {
		width: 60%;
		margin-top: 1em;
	}
	.main {
		position: fixed;
		bottom: 0;
		height: 100vw;
	}
	.ch-item, .ch-grid li {
		width: calc(100vw/3);
		height: calc(100vw/3);
	}
	.content-container {
		margin-top: 0;
	}
	.status-imgs {
	    width: 49px;
	    margin-top: -53px;
	    margin-bottom: 0;
	}
	#left-col .panel-heading {
	    padding: 2px 14px !important;
	}
	#left-col .panel-group {
		/*margin: 0;*/
	}
    .dropdown-menu li a {
        padding: 0.27em !important;
    }
    #left-col h1 {
    	margin: 0.2em;
    }
    #divider {
    	margin: 0;
	    color: white;
	    font-size: 50px;
    }
    #food-list {
    	flex-wrap: wrap;
    	justify-content: center;
    }
    #food-list li {
    	width: 32%;
    }
}

@media only screen and (min-width : 430px){
	#logo {
		max-width: 300px;
	}
	.main {
		position: relative;
		width: 495px;
	}
	.ch-item, .ch-grid li {
		width: 165px;
		height: 165px;
	}
	.status-imgs {
	    width: 160px;
	}
	#left-col .panel-heading {
	    padding: 10px 14px !important;
	}
	#divider {
		display: none;
	}
	.content-container {
		width: 90%;
		padding: 0;
	}
	.ch-info h3 {
	    padding: 75px 0 0 0;
	}
	#food-list li {
    	width: 80%;
    }
}

/*@media (min-width: @screen-lg-min){
	.main {
		position: relative;
		width: 495px;
	}
}*/

/* Hover Text */
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
    color: white !important;
}

.ch-info {
	position: absolute;
    text-align: center;
	width: inherit;
	height: inherit;   
	opacity: 1;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}

.ch-info h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	padding: 50px 0 0 0;
	height: 140px;
	font-family: Arial, sans-serif;
}



h3 { 
	margin:0;
	padding:0;
    font-size:100%;
	font-weight:normal;
    text-align: center;
}