/*pink FD6177 purple 8225A4 blue 0CE8E5 yellow FFD200 light pink F9A2B5 light purple  9D71CC light blue 9af7e6 light yellow ffe780*/
body {
	font-family: 'Source Sans Pro', sans-serif !important;
	background-image: url(/img/bg.jpg);
}

.nav-pills li a {
	border-radius: 0 !important;
}

#top-logo {
	position: fixed;
	top: 0;
	right: 0;
	margin: 6px 12px;
	height: 40px;
}

#sub-menu {
	width: 601px;
    margin: 0 auto;
}

#sub-menu ul {
	color: white !important;
}

#sub-menu ul li a {
	height: 200px;
	width: 200px;
	line-height: 175px;
	font-size: 2.5em;
	color: white !important;
	font-weight: 700;
}

#sub-menu ul li:nth-child(1) a {
	background-color: #FD6177;
}

#sub-menu ul li:nth-child(2) a {
	background-color: #8225A4;
}
#sub-menu ul li:nth-child(3) a {
	background-color: #0CE8E5;
}

#sub-menu ul li a:hover {

}

.month-detail ul {
}

#food-list {
	display: inline-flex;
}
#food-list li {
	margin: 0.4em;
}

.fixed-height {
	height: 500px;
	overflow-y: scroll;
}

.content-container {
	margin-top: 3em;
	text-align: center;
}

.content-container ul {
	list-style: none;
	padding: 0;
}

.content-container a {
	display: block;
	text-decoration: none;
}
.status-imgs {
	border-radius: 60%;
	width: 175px;
}
.content-container a:hover {
	text-decoration: none;
}

.content-container a:focus {
	outline: none;
}

.dropdown-menu {
	border-radius: 0 !important;
	font-size: x-large !important;
	border-radius: 0 !important;
    margin: 20px !important;
    border: 0 !important;
}

.myDropdown button {
	color: #0CE8E5 !important;
    background-color: white !important;
    border: 0 !important;
    border-radius: 0 !important;
    background-image: none !important;
    margin: 4px 0 !important;
    font-size: x-large !important;
}
.myDropdown button:hover, .dropdown-menu li a:hover {
	background-image: none !important;
    background-position: 0 !important;
    background-color: white !important;
    color: #0CE8E5 !important;
}
.left-col {
	color: white;
}
.left-col h1 {
	font-weight: 700;
}
#sym-header {
	background-color: white;
	color: #0CE8E5;
	padding: 10px;
	font-weight: 700;
	width: inherit;
	margin: 0 auto;
}
.left-col h4 {
	margin-top: 0;
	font-weight: 700;
}
.panel-group .panel {
    margin-bottom: 0;
    border: 0;
}
.panel-heading {
	padding: 8px 14px !important;
}
.panel:nth-child(1) .panel-heading  {
	background-image: none;
	background-color: #8225A4;
	color: white;
}
.panel:nth-child(2) .panel-heading  {
	background-image: none;
	background-color: #FD6177;
	color: white;
}
.panel-title {
	font-size: 20px !important;
}
.panel-body {
	padding: 5px 15px;
    line-height: 1.4;
}
.panel-body li {
	padding-bottom: 0.8em;
}
.panel:nth-child(1) .panel-body h4 {
	color: #8225A4;
	font-weight: 700;
}
.panel:nth-child(2) .panel-body h4 {
	color: #FD6177;
	font-weight: 700;
}
.symtom-imgs {
	height: 100px;
}