<div class="tile-container" id="landing-grid">					
    <img id="logo" src="img/bigwhite.png">
	<section class="main">
		<ul class="ch-grid">		
            <li class="col-sm-4 col-md-4 col-lg-4" ng-click="ctrl.selectTab(0)">
				<div class="ch-item ch-img-1">
					<div class="ch-info" style="background: rgba(97, 28, 125, 0.7); color:white!important;">
						<h3 style="text-decoration:none;"><a style="text-decoration:none;color: white!important;">Month 1</a></h3>
					</div>
				</div>
			</li>
            <li class="col-sm-4 col-md-4 col-lg-4"class="col-sm-4 col-md-4 col-lg-4"  ng-click="ctrl.selectTab(1)">
				<div class="ch-item ch-img-2">
					<div class="ch-info" style="background: rgba(97, 28, 125, 0.8); color:white!important;">
						<h3 style="text-decoration:none;"><a style="text-decoration:none;color: white!important;">Month 2</a></h3>
					</div>
				</div>
			</li>
            <li class="col-sm-4 col-md-4 col-lg-4" ng-click="ctrl.selectTab(2)">
				<div class="ch-item ch-img-3">
					<div class="ch-info" style="background: rgba(97, 28, 125, 0.9); color:white!important;">
						<h3><a style="text-decoration:none;color: white!important;">Month 3</a></h3>
					</div>
				</div>
			</li>
            <li class="col-sm-4 col-md-4 col-lg-4" ng-click="ctrl.selectTab(3)">
				<div class="ch-item ch-img-4">
					<div class="ch-info" style="background: rgba(230, 188, 0, 0.7); color:white!important;">
						<h3><a style="text-decoration:none;color: white!important;">Month 4</a></h3>
					</div>
				</div>
			</li>
            <li class="col-sm-4 col-md-4 col-lg-4" ng-click="ctrl.selectTab(4)">
				<div class="ch-item ch-img-5">
					<div class="ch-info" style="background: rgba(230, 188, 0, 0.7); color:white!important;">
						<h3><a style="text-decoration:none;color: white!important;">Month 5</a></h3>
					</div>
				</div>
			</li>
            <li class="col-sm-4 col-md-4 col-lg-4" ng-click="ctrl.selectTab(5)">
				<div class="ch-item ch-img-6">
					<div class="ch-info" style="background: rgba(230, 188, 0, 0.9); color:white!important;">
						<h3><a style="text-decoration:none;color: white!important;">Month 6</a></h3>
					</div>
				</div>
			</li>
            <li class="col-sm-4 col-md-4 col-lg-4" ng-click="ctrl.selectTab(6)">
				<div class="ch-item ch-img-7">
					<div class="ch-info" style="background: rgba(253, 53, 81, 0.7); color:white!important;">
						<h3><a style="text-decoration:none;color: white!important;">Month 7</a></h3>
					</div>
				</div>
			</li>
            <li class="col-sm-4 col-md-4 col-lg-4" ng-click="ctrl.selectTab(7)">
				<div class="ch-item ch-img-8">
					<div class="ch-info" style="background: rgba(253, 53, 81, 0.7); color:white!important;">
						<h3><a style="text-decoration:none;color: white!important;">Month 8</a></h3>
					</div>
				</div>
			</li>
            <li class="col-sm-4 col-md-4 col-lg-4" ng-click="ctrl.selectTab(8)">
				<div class="ch-item ch-img-9">
					<div class="ch-info" style="background: rgba(253, 53, 81, 0.8); color:white!important;">
						<h3><a style="text-decoration:none;color: white!important;">Month 9</a></h3>
					</div>
				</div>
			</li>
		</ul>
	</section>	
</div>