<div class="container" id="landing-grid">					
	<section class="main">
        <img id="logo" src="img/logo.png">
        
		<ul class="ch-grid">		
            <li>
				<div class="ch-item ch-img-1">
					<div class="ch-info" style="background: rgba(97, 28, 125, 0.7);">
						<h3><a ng-click="ctrl.selectTab(0)">Month 1</a></h3>
					</div>
				</div>
			</li>
            <li>
				<div class="ch-item ch-img-2">
					<div class="ch-info" style="background: rgba(97, 28, 125, 0.8);">
						<h3><a ng-click="ctrl.selectTab(1)">Month 2</a></h3>
					</div>
				</div>
			</li>
            <li>
				<div class="ch-item ch-img-3">
					<div class="ch-info" style="background: rgba(97, 28, 125, 0.9);">
						<h3><a ng-click="ctrl.selectTab(2)">Month 3</a></h3>
					</div>
				</div>
			</li>
            <li>
				<div class="ch-item ch-img-4">
					<div class="ch-info" style="background: rgba(230, 188, 0, 0.7);">
						<h3><a ng-click="ctrl.selectTab(3)">Month 4</a></h3>
					</div>
				</div>
			</li>
            <li>
				<div class="ch-item ch-img-5">
					<div class="ch-info" style="background: rgba(230, 188, 0, 0.7);">
						<h3><a ng-click="ctrl.selectTab(4)">Month 5</a></h3>
					</div>
				</div>
			</li>
            <li>
				<div class="ch-item ch-img-6">
					<div class="ch-info" style="background: rgba(230, 188, 0, 0.9);">
						<h3><a ng-click="ctrl.selectTab(5)">Month 6</a></h3>
					</div>
				</div>
			</li>
            <li>
				<div class="ch-item ch-img-7">
					<div class="ch-info" style="background: rgba(253, 53, 81, 0.7);">
						<h3><a ng-click="ctrl.selectTab(6)">Month 7</a></h3>
					</div>
				</div>
			</li>
            <li>
				<div class="ch-item ch-img-8">
					<div class="ch-info" style="background: rgba(253, 53, 81, 0.7);">
						<h3><a ng-click="ctrl.selectTab(7)">Month 8</a></h3>
					</div>
				</div>
			</li>
            <li>
				<div class="ch-item ch-img-9">
					<div class="ch-info" style="background: rgba(253, 53, 81, 0.8);">
						<h3><a ng-click="ctrl.selectTab(8)">Month 9</a></h3>
					</div>
				</div>
			</li>
		</ul>
	</section>	
</div>