<div>
	<ul class="nav nav-pills nav-justified">
	  <li ng-repeat="month in ctrl.months track by $index" ng-class="{'active': $first}"><a data-toggle="tab" href="/months/#month{{$index+1}}">Month {{$index+1}}</a></li>
	</ul>

	<div class="tab-content">
	  <div id="month{{$index+1}}" class="tab-pane fade" ng-repeat="month in ctrl.months track by $index" ng-class="{'active in': $first}">
	  	
	  </div>
	</div>
	<div class="">
		<img src="images.png" class="baby-img">
		<div id="sub-menu">
			<ul class="nav nav-pills nav-justified">
			  <li role="presentation"><a ng-click="showSymptons = !showSymptons">SYMPTONS</a></li>
			  <li role="presentation"><a ng-click>CAUSES</a></li>
			  <li role="presentation"><a ng-click>TIPS</a></li>
			</ul>
			<div ng-show="!show{{}}"></div>
			<div class="tab-content">
			  <li ng-repeat="s in month.symptons">{{s}}</li>
			  </div>
			</div>
		</div>
		
		  	<!-- <h3>Symptons</h3>
		    <ul>
		    	<li ng-repeat="s in month.symptons">{{s}}</li>
		    </ul> -->
		</div>
	</div>
</div>