<div class="dropdown myDropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-align-justify"><span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="tab in ctrl.tabs track by $index"><a  ng-click="ctrl.switchTab($index)"><div class="ch-img-1"></div><div>{{tab}}</div></a></li>
    </ul>
</div>
<a ng-click="ctrl.goHome()"><img src="/img/Logo_50.png" id="top-logo"></a>

<div class="container-fluid content-container">
  <div class="row">
		<div class="col-xs-6 left-col">
			<img src="/img/month1.jpg" class="status-imgs">
			<h1>{{ctrl.tabs[ctrl.selectedTab]}}</h1>
			<h4 id="sym-header">POSSIBLE SYMPTOMS</h4>
			<div class="row">
				<ul id="food-list">
					<li>
						<img ng-src="{{ctrl.months[ctrl.selectedTab].symptoms[0][1]}}" class="symtom-imgs">
						<h4>{{ctrl.months[ctrl.selectedTab].symptoms[0][0]}}</h4>
					</li>
					<li>
						<img ng-src="{{ctrl.months[ctrl.selectedTab].symptoms[1][1]}}" class="symtom-imgs">
						<h4>{{ctrl.months[ctrl.selectedTab].symptoms[1][0]}}</h4>
					</li>
				</ul>
			</div>
			<div class="row">
				<ul id="food-list">
					<li>
					<li>
						<img ng-src="{{ctrl.months[ctrl.selectedTab].symptoms[2][1]}}" class="symtom-imgs">
						<h4>{{ctrl.months[ctrl.selectedTab].symptoms[2][0]}}</h4>
					</li>
					<li>
						<img ng-src="{{ctrl.months[ctrl.selectedTab].symptoms[3][1]}}" class="symtom-imgs">
						<h4>{{ctrl.months[ctrl.selectedTab].symptoms[3][0]}}</h4>
		
					</li>
				</ul>
			</div>
			<h4>WHY?</h4>
			<p>{{ctrl.months[8].cause}}</p>
		</div>
		<div class="col-xs-6">
			<uib-accordion close-others="true">
			    <uib-accordion-group heading="DOs" is-open="true" id="do-header">
			    	<div class="fixed-height">
						<ul>
							<li ng-repeat="do in ctrl.months[ctrl.selectedTab].tips.do">
								<h4>{{do.title}}</h4>
								{{do.description}}
							</li>
						</ul>
						<h4>FOOD</h4>
				        <p>{{ctrl.months[8].tips.food.description}}</p>
				        <ul id="food-list">
				        	<li ng-repeat="item in ctrl.months[ctrl.selectedTab].tips.food.list" class="label label-default label-large">{{item}}</li>
				        </ul>
			        </div>
			    </uib-accordion-group>
				
			    <uib-accordion-group heading="DON'Ts">
			    	<div class="fixed-height">
						<ul>
							<li ng-repeat="dont in ctrl.months[ctrl.selectedTab].tips.dont">
								<h4>{{dont.title}}</h4>
								{{dont.description}}
							</li>
						</ul>
					</div>
			    </uib-accordion-group>		    
			</uib-accordion>
            <h1><a href="index.html">Back to Mainpage</a></h1>
		</div>
	</div>
</div>
