<div class="dropdown myDropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-align-justify"><span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a ng-click="ctrl.goHome()"><img src="/img/alt_logo.png" id="top-logo"></a></li>
        <li ng-repeat="tab in ctrl.tabs track by $index"><a  ng-click="ctrl.switchTab($index)"><div class="ch-img-1"></div><div>{{tab}}</div></a></li>
    </ul>
</div>

<div class="container-fluid content-container">
  <div class="row">
		<div class="col-xs-6" id="left-col">
			<img src="/img/month1.jpg" class="status-imgs">
			<h1>{{ctrl.tabs[ctrl.selectedTab]}} MONTH</h1>
			<uib-accordion close-others="true">
				<div class="sub-container">
					<uib-accordion-group heading="POSSIBLE SYMPTOMS" is-open="true" id="do-header">
						<div class="fixed-height">
							<ul id="food-list">
								<li>
									<img ng-src="{{ctrl.months[ctrl.selectedTab].symptoms[0]}}" class="symtom-imgs">
								</li>
								<li>
									<img ng-src="{{ctrl.months[ctrl.selectedTab].symptoms[1]}}" class="symtom-imgs">
								</li>
							</ul>
						</div>

						<div class="row">
							<ul id="food-list">
								<li>
									<img ng-src="{{ctrl.months[ctrl.selectedTab].symptoms[2]}}" class="symtom-imgs">
								</li>
								<li>
									<img ng-src="{{ctrl.months[ctrl.selectedTab].symptoms[3]}}" class="symtom-imgs">
						
								</li>
							</ul>
						</div>
					</uib-accordion-group>
				</div>
				<div class="sub-container">
					<uib-accordion-group heading="WHY?" is-open="true" id="do-header">
						<p>{{ctrl.months[8].cause}}</p>
					</uib-accordion-group>
				</div>
			</uib-accordion>
		</div>
		<div class="col-xs-6" id="right-col">
			<uib-accordion close-others="true">
			    <uib-accordion-group heading="DOs" is-open="true" id="do-header">
			    	<div class="fixed-height">
						<ul>
							<li ng-repeat="do in ctrl.months[ctrl.selectedTab].tips.do">
								<h4>{{do.title}}</h4>
								{{do.description}}
							</li>
						</ul>
						<h4>FOOD</h4>
				        <p>{{ctrl.months[8].tips.food.description}}</p>
				        <ul id="food-list">
				        	<li ng-repeat="item in ctrl.months[ctrl.selectedTab].tips.food.list" class="label label-default label-large">{{item}}</li>
				        </ul>
			        </div>
			    </uib-accordion-group>
				
			    <uib-accordion-group heading="DON'Ts">
			    	<div class="fixed-height">
						<ul>
							<li ng-repeat="dont in ctrl.months[ctrl.selectedTab].tips.dont">
								<h4>{{dont.title}}</h4>
								{{dont.description}}
							</li>
						</ul>
					</div>
			    </uib-accordion-group>
			    
			</uib-accordion>
		</div>
	</div>
</div>
