<div>
	<ul class="nav nav-pills nav-justified">
	  <li ng-repeat="month in ctrl.months track by $index" ng-class="{'active': $first}"><a data-toggle="tab" href="/months/#month{{$index+1}}">Month {{$index+1}}</a></li>
	</ul>

	<div class="tab-content">
	  <div id="month{{$index+1}}" class="tab-pane fade" ng-repeat="month in ctrl.months track by $index" ng-class="{'active in': $first}">
	  	<h3>Symptons</h3>
	    <ul>
	    	<li ng-repeat="s in month.symptons">{{s}}</li>
	    </ul>
	  </div>
	</div>
	<div class="col-md-6 center-block">
		<img src="images.png">
	</div>
</div>